  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid #ffffff;
    background-color: #b9d69d;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  .footer-button {
    margin-left: 60px;
    background-color: #89c750;
    color: rgb(255, 255, 255);
  }

  .input-text {
    width: 500px;
  }

  .chat-header {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: oblique;
color: #89c750;
  }